<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/angular-resource/angular-resource.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- angular-svg-round-progress / Circular Progress bar -->
    <script src="lib/angular-svg-round-progressbar/build/roundProgress.js"></script> 
    <!--<script src="http://crisbeto.github.io/angular-svg-round-progressbar/roundProgress.min.js"></script> -->

    <!-- your app's js -->
    <script src="js/Quiz.js"></script>
    <script src="js/app.js"></script>


  </head>
  <body ng-app="starter">

    <ion-nav-bar class="bar bar-transparent">

      <!--<ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i>
      </ion-nav-back-button> -->

    </ion-nav-bar>
             
    <ion-nav-view></ion-nav-view>

    <script id="quizHome.html" type="text/ng-template">

      <ion-view  title="" class="background" >


        <ion-content padding="true" can-swipe-back="false" class="has-header">


          <div class="spacer" style="display: inline-block; height: 30px;"></div>

          <div align="center">
            <img src="img/academiaLogo.png" style="width:70%; height: auto;">
          </div>

          <div class="spacer" style="display: inline-block; height: 30px;"></div>

          
          <button ng-click="commenceQuiz()" class="button barBtn home-btn button-block" ng-class="{'button button-block button-balanced': item.state == 'great' , 'button button-block button-assertive': item.state == 'bad'}" ng-disabled="newQuizBtnDisabled">
            NEW QUIZ
          </button>
          <button ng-show="showResumeButton" ng-click="resumeQuiz()" class="button barBtn home-btn button-block">CURRENT QUIZ</button>

        </ion-content>

      </ion-view>
    </script>

    <script id="quizzes.html" type="text/ng-template">

      <ion-view title={{quizzes.length}} class="background">

      <ion-content>
        <ion-list>
          <ion-item ng-repeat="quiz in quizzes"  class="item item-icon-right">
          <a href="#/quizzes/quiz" class="button button-positive button-block">Quiz: {{quiz}}</a>
          </ion-item>
        </ion-list>
      </ion-content>

      </ion-view>

    </script>

    <script id="quiz.html" type="text/ng-template">

    <ion-view title={{countIntoTitle}} class="background">

      <ion-nav-buttons side="primary">
        <button class="barBtn" ng-click="confirmQuit()">
          QUIT
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="secondary">
        <button class="barBtn"  ng-show="showNextbutton" ng-click="nextQuestion({{questionIndex}})">
          NEXT
        </button>
      </ion-nav-buttons>

      <ion-content padding="false" scroll="true" can-swipe-back="false" class="has-header">

        <div class="spacer" style="display: inline-block; height: 10px;"></div>

        <label  style="padding: 3%;" class="myLabel">{{item.questionText}} </label>

        <div class="spacer" style="display: inline-block; height: 20px;"></div>

        <ion-list >
          <ion-item  class="item  item-image-left item-text-wrap intro-list-item"
            ng-repeat="item in item.answers" 
            ng-click="selectAnswer($index, item)"
            ng-disabled="questionBtnDisabled"
            style="background-color: white !important;"
            >

            <i class="image-left-container">
              <img ng-class="{'image-left question-img{{$index}}': item.state == 'normal', 'image-left success-img': item.state == 'great', 'image-left fail-img': item.state == 'bad'}" >
            </i>

            <label ng-class="{'question-text success-color': item.state == 'great','image-left fail-color': item.state == 'bad'}">{{item.answerText}}</label>

          </ion-item>
        </ion-list>


        <!--<button class="button questionButton button-block"
          ng-repeat="item in item.answers"
          ng-disabled="questionBtnDisabled"
          ng-click="selectAnswer($index, item)"
          ng-class="{'button button-block questionButton success': item.state == 'great' , 'button button-block questionButton fail': item.state == 'bad'}"
          >{{item.answerText}}</button> -->

      </ion-content>

    </ion-view>

    </script>

    <script id="score.html" type="text/ng-template">

      <ion-view title="SCORE" class="background white-background">

        <ion-content can-swipe-back="false" >

          <br>

          <div class="row" align="center">

            <div class="col">
              <div class="score-text">Correct Answers</div>
              <div class="progress-wrapper" ng-style="{'font-size': getFontSize()}">
                <div class="progress" style="line-height: 2.5em;">{{correctQuestions}}</div>
                  <div
                      round-progress
                      max=totalQuestions
                      current=correctQuestions
                      color="#006d4f"
                      bgcolor="{{ bgColor }}"
                      radius="{{radius}}"
                      semi="isSemi"
                      rounded="rounded"
                      stroke="{{ stroke }}"
                      clockwise="clockwise"
                      iterations="{{ iterations }}"
                      animation="{{ currentAnimation }}">
                  </div>
              </div>
            </div>

            <div class="col">
              <div class="score-text">Incorrect Answers</div>
              <div class="progress-wrapper" ng-style="{'font-size': getFontSize()}">
                <div class="progress" style="line-height: 2.5em;">{{wrongQuestions}}</div>
                  <div
                      round-progress
                      max=totalQuestions
                      current=wrongQuestions
                      color="#b8292f"
                      bgcolor="{{ bgColor }}"
                      radius="{{radius}}"
                      semi="isSemi"
                      rounded="rounded"
                      stroke="{{ stroke }}"
                      clockwise="clockwise"
                      iterations="{{ iterations }}"
                      animation="{{ currentAnimation }}">
                  </div>
              </div>
            </div>
          </div>

          <div class="row" align="center">
            <div class="col">
              <div class="score-text">Results</div>
              <div class="progress-wrapper">
                <div class="progress" style="line-height: 3.2em;">{{ totalScore }}</div>
                <div
                    round-progress
                    max=totalQuestions
                    current=correctQuestions
                    color="#002c64"
                    bgcolor="{{ bgColor }}"
                    radius="90"
                    semi="isSemi"
                    rounded="rounded"
                    stroke="{{ stroke }}"
                    clockwise="clockwise"
                    iterations="{{ iterations }}"
                    animation="{{ currentAnimation }}">
                </div>
              </div>
            </div>
          </div>

        </ion-content>

        <div class="bar bar-footer background" href="#/home" ng-click="finishQuiz()">
          <div class="title">FINISH</div>
        </div>

      </ion-view>

    </script>


    <script id="score2.html" type="text/ng-template">



      <div class="bar bar-footer background" href="#/home" ng-click="finishQuiz()">

        <h1 class="title">

        <div >
          <div class="progress">2</div>
            <div
                round-progress
                max="5"
                current="2"
                color='#b9bbbd'
                bgcolor="#ffffff"
                radius="17"
                semi="isSemi"
                rounded="rounded"
                stroke="2"
                clockwise="clockwise"
                iterations="{{ iterations }}"
                animation="{{ currentAnimation }}">
            </div>
          </div>
        </div> 

        </h1>

      </div>

      <ion-view title="Final">

      <ion-content>

        <div class="row" align="center">

          <div class="col">
            <div >.CORRECT ANSWS</div>
            <div class="progress-wrapper">
              <div class="progress">2</div>
              <div
                  round-progress
                  max="5"
                  current="2"
                  color="#002c64"
                  bgcolor="{{ bgColor }}"
                  radius="60"
                  semi="isSemi"
                  rounded="rounded"
                  stroke="{{ stroke }}"
                  clockwise="clockwise"
                  iterations="{{ iterations }}"
                  animation="{{ currentAnimation }}">
              </div>
            </div>

          </div>

          <div class="col">
            <div >WRONG ANSWS</div>
            <div class="progress-wrapper">
              <div class="progress">2</div>
              <div
                  round-progress
                  max="5"
                  current="2"
                  color="#002c64"
                  bgcolor="{{ bgColor }}"
                  radius="60"
                  semi="isSemi"
                  rounded="rounded"
                  stroke="{{ stroke }}"
                  clockwise="clockwise"
                  iterations="{{ iterations }}"
                  animation="{{ currentAnimation }}">
              </div>
            </div>
          </div>
        
        </div>

        <div class="row" align="center">

          <div class="col">
            <div >TOTAL</div>
            <div class="progress-wrapper">
              <div class="progress">2</div>
              <div
                  round-progress
                  max="5"
                  current="2"
                  color="#002c64"
                  bgcolor="{{ bgColor }}"
                  radius="90"
                  semi="isSemi"
                  rounded="rounded"
                  stroke="{{ stroke }}"
                  clockwise="clockwise"
                  iterations="{{ iterations }}"
                  animation="{{ currentAnimation }}">
              </div>
            </div>

          </div>
        </div>

      </ion-content>

      

      </ion-view>

    </script>


    <script id="quizUI2.html" type="text/ng-template">

    <ion-view title={{countIntoTitle}}>

      <ion-nav-buttons side="primary">
        <button class="barBtn"  ng-click="confirmQuit()">
          QUIT
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="secondary">
        <button class="barBtn"  ng-click="nextQuestion({{questionIndex}})">
          NEXT
        </button>
      </ion-nav-buttons>

      <ion-content scroll="true" can-swipe-back="false" class="has-header">

        <br>

        <label class="myLabel">{{item.questionText}} </label>

        <br>
        <br>

        <ion-scroll direction="y">

        </ion-scroll>

        <div class="list">

        <a class="item  item-image-left item-text-wrap intro-list-item" href="#">
          
          <i class="image-left-container">
            <img class="image-left" src="img/questionSuccess.png" >
          </i>

          <label class="question-text success-color">
            Back off, man. Im a scientist. Back off, man. Im a scientist. Back off, man. Im a scientist.sssssssssssss
          </label>
          
        </a>

         <a class="item  item-image-left item-text-wrap intro-list-item" href="#">
          
          <i class="image-left-container">
            <img class="image-left" src="img/questionFail.png" >
          </i>

          <label class="question-text fail-color">
            Back off, man. Im a scientist. Back off, man. Im a scientist. Back off, man. Im a scientist.sssssssssssss
          </label>
          
        </a>

        <a class="item item-image-left item-text-wrap intro-list-item" href="#">
          
          <i class="image-left-container">
            <img class="image-left" src="img/questionLetterC.png" >
          </i>

          <label class="question-text">
            Back off, man. Im a scientist. 
          </label>
          
        </a>

        <a class="item item-image-left item-text-wrap intro-list-item" href="#">
          
          <i class="image-left-container">
            <img class="image-left" src="img/questionLetterD.png" >
          </i>

          <label class="question-text">
            Back off, man. Im a scientist. ientist. 
          </label>
          
        </a>

        <a class="item item-image-left item-text-wrap intro-list-item" href="#">
          
          <i class="image-left-container">
            <img class="image-left" src="img/questionLetterE.png" >
          </i>

          <label class="question-text">
            Back off, man. Im a scientist. , man. Im a scientist. 
          </label>
          
        </a>

      </div>



      </ion-content>

    </ion-view>

    </script>




    <script id="quizUI.html" type="text/ng-template">

    <ion-view title={{countIntoTitle}}>

      <ion-content padding="true" scroll="true" can-swipe-back="false" class="has-header">
        
        <label class="myLabel">{{item.questionText}}</label>

        <button class="button questionButton button-block"
          ng-repeat="item in item.answers"
          ng-click="selectAnswer($index, item)"
          ng-class="{'button button-block questionButton success': item.state == 'great' , 'button button-block questionButton fail': item.state == 'bad'}"
          >{{item.answerText}}</button>

          <div class="row">
            <button  ng-show="showNextbutton" ng-click="nextQuestion({{questionIndex}})" class="col col-75 button button-outline button-positive">
              Next
            </button>
          </div>

      </ion-content>

    </ion-view>

    </script>

    <!--<script id="quiz.html" type="text/ng-template">

      <ion-view title={{questions.lenght}}>

      <ion-content>
        <ion-list>
          <ion-item ng-repeat="question in questions"  class="item item-icon-right">
            <span ng-class="{done: todo.done}">{{question.questionText}}</span>
          </ion-item>
        </ion-list>
      </ion-content>

      </ion-view>

    </script> -->

    <script id="todos.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      /** <!--
      <ion-view view-title="Home2.html">
          <ion-content ng-controller="HomeCtrl">
          <a href="#/music">Go to music page!</a>
        </ion-content>
      </ion-view> --> **/

      <ion-view title="Todos">
        <ion-content>
          <ion-list>
            <ion-item ng-repeat="todo in todos"  class="item item-icon-right" ui-sref="detail({todo: $index})">
              <span ng-class="{done: todo.done}">{{todo.title}}</span>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>

      

    </script>

    <script id="todo.html" type="text/ng-template">

      <ion-view title="Todo">
        <ion-content>
            <div class="item">
              <p>{{todo.title}}</p>
            </div>

            <div class="item item-checkbox">
              <div>
                <label class="checkbox">
                  <input type="checkbox" ng-model="todo.done">
                </label>
                Done
              </div>

            </div>
        </ion-content>
      </ion-view>

      

    </script>



    <script id="question.html" type="text/ng-template">

    <!--
    <ion-view title="Question">
        <ion-content padding="true" scroll="false" class="has-header" ng-controller"QuestionCtrl" >
            <label class="item item-input">
                <span class="input-label"></span><textarea placeholder=""> d</textarea>
            </label>
            <div>{{greeting}}</div>
            <button class="button button-dark button-block">A</button>
            <button class="button button-dark button-block">B</button>
            <button class="button button-dark button-block">C</button>
            <button class="button button-dark button-block">D</button>
        </ion-content>
    </ion-view>

    -->

    <ion-view title="Question">

      <ion-content padding="true" scroll="false"  class="has-header" ng-controller="QuestionCtrl">
        <label class="item item-input">
                <textarea readonly rows="10" >{{item.questionText}}</textarea>
        </label>

        <button on-tap='push("A")' ng-class="{'button button-block button-dark': normal , 'button button-block button-assertive': item.correctAnswer != name, 'button button-block button-balanced': item.correctAnswer == name}"  name="A">{{item.answerA}}</button>
        <button on-tap='push("B")' ng-class="{'button button-block button-dark': normal , 'button button-block button-assertive': !normal}" name="B">{{item.answerB}}</button>
        <button on-tap='push("C")' class="button button-dark button-block" name="C">{{item.answerC}}</button>
        <button on-tap='push("D")' class="button button-dark button-block" name="D">{{item.answerD}}</button>
        <button on-tap='push("E")' class="button button-dark button-block" name="E">{{item.answerE}}</button>

        <p>The food is {{spice}} spicy!</p>

      </ion-content>

    </ion-view>

    </script>

    <script id="question2.html" type="text/ng-template">

    <ion-view title={{countIntoTitle}}>

      <ion-content padding="true" scroll="true" can-swipe-back="false" class="has-header">
        <label class="item item-input">
                <textarea readonly rows="10" >{{item.questionText}}</textarea>
        </label>

        <!--

        <ion-item ng-repeat="item in item.answers"

        <button on-tap='push(item)' class="button button-dark button-block" name="button">{{item}}</button>


        </ion-item> -->

        <button class="button button-black button-block"
          ng-repeat="item in item.answers"
          ng-click="push($index, item)"
          ng-class="{'button button-block button-balanced': item.state == 'great' , 'button button-block button-assertive': item.state == 'bad'}"
          >{{item.answerText}}</button>

          <div class="row">
            <button  ng-show="showstartCard" ng-click="nextQuestion({{questionIndex}})" class="col col-75 button button-outline button-positive">
              Next
            </button>
          </div>

      </ion-content>

    </ion-view>

    </script>

  </body>
</html>
