/* Empty. Add your own CSS if you like */

/*@font-face {
   font-family: HelveticaNeueLTS;
   src: url(../resources/fonts/HelveticaNeueLTStd-Bd.otf);
   font-weight: bold;
}

@font-face {
   font-family: HelveticaNeueLTS;
   src: url(../resources/fonts/HelveticaNeueLTStd-Md.otf);
   font-weight: normal;
}
*/
@font-face {
   font-family: HelveticaNeueLTS;
   src: url(../resources/fonts/HelveticaNeueLTStd-Lt.otf);
}

.done {
  text-decoration: line-through;
}

/*.pane {

  background-color: #002c64 !important
}*/


.totalScr = {
	background-color: #002c64;
}

.bar.bar-transparent {
  /*background-color: transparent;*/
  background-color: #002c64 !important;
  background-image: none;
  border: none;
}

.bar .title {
  color: #000000;

  /*Desing two*/
  color: #ffffff;

}



.btnExample 
{
padding: 30px 50% 10px !important;
font-size: 21px !important;
background-color: #fcfcfd;
font-weight: bold;
text-align: left;
color: #000000;
border-radius: 100%;

-moz-border-radius: 100px;
-webkit-border-radius: 100px;
border: 1px solid #fcfcfd;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}



.item-image-left .image-left-container{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	position: absolute;
	top: 0;
	height: 100%;
	left: 14px; 


}

.item-image-left {
	padding-left: 64px;

}

.image-left{
	width:60%; /* you can use % */
    height: auto;
    
}

.success-img{
	content:url(../img/questionSuccess.png);
}

.fail-img{
	content:url(../img/questionFail.png);
}

.question-img0{
	content:url(../img/questionLetterA.png);
}
.question-img1{
	content:url(../img/questionLetterB.png);
}
.question-img2{
	content:url(../img/questionLetterC.png);
}
.question-img3{
	content:url(../img/questionLetterD.png);
}
.question-img4{
	content:url(../img/questionLetterE.png);
}

.myLabel{
	font-size:17px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;

	/*Desing two*/
	color: #ffffff;

	font-family: HelveticaNeueLTS;
	font-weight: lighter;



}

.barBtn {

	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#002c64;
	padding:2px 15px;
	text-decoration:none;
	font-size:15px;
}

.home-btn{
	font-size:20px;
}


.question-text  { 
	color: black;
	font-family: HelveticaNeueLTS;
	font-weight: bold;
	font-size: 14px;
	line-height: 10px;
}

.fail-color{
	color: #d6292c;
}

.success-color{
	color: #009900;

}

.questionButton {
	/*box-shadow: 7px 5px 0px 0px #b3babf;*/
	
	/*background: #fcfcfd url(/img/buttonIcon.png) no-repeat scroll 10px center;*/

	background-size: 10%;

	/*border:1px solid #ebebeb;
	border-top-left-radius:42px;
	border-bottom-left-radius:42px;*/

	
	text-align: left;
	line-height: 20px;

	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	padding:15px 30px;
	text-decoration:none;
}

.success {
    background: #53b948;
    color:#ffffff;
}

.fail{
	background: #c72d2c;
    color:#ffffff;
}

.myButton {
	background: #fcfcfd url(/img/buttonIcon.png) no-repeat scroll 10px center;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2d7fd6), color-stop(1, #2b4561));
	background:-moz-linear-gradient(top, #2d7fd6 5%, #2b4561 100%);
	background:-webkit-linear-gradient(top, #2d7fd6 5%, #2b4561 100%);
	background:-o-linear-gradient(top, #2d7fd6 5%, #2b4561 100%);
	background:-ms-linear-gradient(top, #2d7fd6 5%, #2b4561 100%);
	background:linear-gradient(to bottom, #2d7fd6 5%, #2b4561 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d7fd6', endColorstr='#2b4561',GradientType=0);
	background-color:#2d7fd6;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:20px;
	padding:18px 22px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2b4561), color-stop(1, #2d7fd6));
	background:-moz-linear-gradient(top, #2b4561 5%, #2d7fd6 100%);
	background:-webkit-linear-gradient(top, #2b4561 5%, #2d7fd6 100%);
	background:-o-linear-gradient(top, #2b4561 5%, #2d7fd6 100%);
	background:-ms-linear-gradient(top, #2b4561 5%, #2d7fd6 100%);
	background:linear-gradient(to bottom, #2b4561 5%, #2d7fd6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b4561', endColorstr='#2d7fd6',GradientType=0);
	background-color:#2b4561;
}
.myButton:active {
	position:relative;
	top:1px;
}


/*Circular Progress bar*/

.progress{
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 6em;
    font-size:1em;
    text-align: center;
    color: black;
    font-family:HelveticaNeueLTS;
    font-weight: 100;

}

.progress-wrapper{
    position: relative;
    margin:20px auto;
    font-size: 60px;

}


.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #002c64;
}

.white-background{
	background-color: #ffffff;
}

.score-text{
	font-family: HelveticaNeueLTS;
	color:black; 
	font-size:15px;
}
