/* Empty. Add your own CSS if you like */
.done {
  text-decoration: line-through;
}

.pane {
  background-color: #dae0e5 !important
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}

.bar .title {
  color: #000000;

}

.btnExample 
{
padding: 30px 50% 10px !important;
font-size: 21px !important;
background-color: #fcfcfd;
font-weight: bold;
text-align: left;
color: #000000;
border-radius: 100%;

-moz-border-radius: 100px;
-webkit-border-radius: 100px;
border: 1px solid #fcfcfd;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.myLabel{
	font-size:15px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.questionButton {
	/*box-shadow: 7px 5px 0px 0px #b3babf;*/
	
	/*background: #fcfcfd url(/img/buttonIcon.png) no-repeat scroll 10px center;*/

	background-size: 10%;

	/*border:1px solid #ebebeb;
	border-top-left-radius:42px;
	border-bottom-left-radius:42px;*/

	
	text-align: left;
	line-height: 20px;

	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	padding:15px 30px;
	text-decoration:none;
}

.success {
    background: #53b948;
    color:#ffffff;
}

.fail{
	background: #c72d2c;
    color:#ffffff;
}

.myButton {
	background: #fcfcfd url(/img/buttonIcon.png) no-repeat scroll 10px center;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2d7fd6), color-stop(1, #2b4561));
	background:-moz-linear-gradient(top, #2d7fd6 5%, #2b4561 100%);
	background:-webkit-linear-gradient(top, #2d7fd6 5%, #2b4561 100%);
	background:-o-linear-gradient(top, #2d7fd6 5%, #2b4561 100%);
	background:-ms-linear-gradient(top, #2d7fd6 5%, #2b4561 100%);
	background:linear-gradient(to bottom, #2d7fd6 5%, #2b4561 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d7fd6', endColorstr='#2b4561',GradientType=0);
	background-color:#2d7fd6;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:20px;
	padding:18px 22px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2b4561), color-stop(1, #2d7fd6));
	background:-moz-linear-gradient(top, #2b4561 5%, #2d7fd6 100%);
	background:-webkit-linear-gradient(top, #2b4561 5%, #2d7fd6 100%);
	background:-o-linear-gradient(top, #2b4561 5%, #2d7fd6 100%);
	background:-ms-linear-gradient(top, #2b4561 5%, #2d7fd6 100%);
	background:linear-gradient(to bottom, #2b4561 5%, #2d7fd6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b4561', endColorstr='#2d7fd6',GradientType=0);
	background-color:#2b4561;
}
.myButton:active {
	position:relative;
	top:1px;
}

